* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: auto;
  font-family: "Roboto";
  color: #212121;
}

button {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

header {
  max-width: 1512px;
  width: 100%;
}

main {
  max-width: 1196px;
  margin-left: 170px;
}

.nav-content {
  max-width: 1512px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.left {
  max-width: 750.34px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.search {
  max-width: 560px;
  width: 100%;
  border: 1px solid#D9D9D9;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  left: 130px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
}

@media (max-width: 950px) {
  .search {
    top: 50px;
    left: 0;
  }
}

.search img {
  max-width: 32px;
  width: 100%;
  height: 22px;
  margin-left: 10px;
}

.search button {
  max-width: 250px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  border: none;
  border-rightgit: 1px solid #d9d9d9;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.searchRot {
  max-width: 42px;
  width: 100%;
  height: 42px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: red;
  display: flex;
  align-items: center;
}

.right {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-right: 40px;
}

.right img {
  max-width: 20px;
  width: 100%;
  height: 20px;
}

.select {
  max-width: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

select {
  max-width: 50px;
  width: 100%;
  appearance: none;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

.right p {
  max-width: 41.17px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  margin-left: -15px;
}

.right button {
  max-width: 83.13px;
  width: 100%;
  height: 36px;
  background-color: #00798a;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 10px;
}

.cap {
  max-width: 1196px;
  width: 100%;
  display: flex;
}

.cap img {
  max-width: 379px;
  width: 100%;
  margin-top: 60px;
  margin-left: 50px;
}

.h1 {
  max-width: 570px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.h1 h1 {
  font-size: 42px;
  font-weight: 700;
}

.h1 p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
}

.h1 a {
  max-width: 130px;
  width: 100%;
  background-color: #00798a;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  padding: 7px 20px;
  margin-top: 40px;
}
